/.yarn/**               linguist-vendored
/.pnp.*                 binary linguist-generated

/.vscode/*.json         linguist-language=JSON5

/packages/*/bin/**/*.js linguist-generated
/packages/*/lib/*.js    linguist-generated